.cards {
  display: flex;
  justify-content: space-between;
  width: 800px;
  margin: 0px auto;
}
.text-center {
  margin: 25px 30px;
  color: black;
  text-align: center;
}
.card{
  width: 250px;
  margin: 20px 30px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  text-align: center;
}

.cards img {
  width: 100%;
}
.card p {
  color: rgba(88, 81, 81, 0.425);
}
